#todos-active p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.done{
    text-decoration: line-through;
}
.check{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.mat-checkbox-checked{
    margin: 0px;
}
.checkbox-p{
    margin-right: 10px;
}